{% extends 'base.html' %}

{% block title %}Flask Feedback - Edit Feedback{% endblock %}

{% block content %}
    <h2 class="display-2">Update feedback below.</h2>
    
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
                <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        
        <button class="btn btn-success" type="submit">Update Feedback</button>
    </form>
{% endblock %}