{% extends 'base.html' %}

{% block title %}Flask Feedback - Register{% endblock %}

{% block content %}
    <h1 class="display-1">Welcome to Flask Feedback!</h1>
    <h2 class="display-2">Please register for a new account below.</h2>
    
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
                <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        
        <button class="btn btn-success" type="submit">Register</button>
    </form>

    <a href="/login">Already have an account? Login Here!</a>
{% endblock %}